<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="referrer" content="always">
    <link rel="canonical" href="/aboutus">
    <meta name="description" content="Dog walking and pet sitting in Virginia Beach.">
    <title>{{ title }}</title><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        @import url(https://fonts.googleapis.com/css2?family=Short+Stack&display=swap);
        body, html{
            margin: 0;
            font-family: "Short Stack", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
        }
    </style>
</head>
<body class="bg-success-subtle">
{% include 'navbar.liquid' %}
<main>
    <header class="my-5">
        <div class="container my-5 py-3"><h1>{{ title }}</h1></div>
    </header>
    <div class="container">
        {{ content }}
    </div>
</main>
<footer class="text-bg-dark py-4 mt-4">
    <div class="container">
        <div class="card-group">
            <section class="card text-bg-dark">
                <div class="card-body">
                    <p class="font-weight-bold">Dog wakling, Pet sitting in:</p>
                    <ul>
                        <li>Chesapeake</li>
                        <li>Virginia Beach</li>
                        <li>Norfolk</li>
                        <li>Portsmouth</li>
                        <li>Suffolk</li>
                        <li>Hampton</li>
                        <li>Newport News</li>
                    </ul>
                </div>
            </section>
            <section class="card text-bg-dark">
                <div class="card-body">
                    <p class="font-weight-bold">Caring for Your Pets Like Our Own</p>
                    <figure class="text-center">
                        <img src={{ "assets/images/clare_walking_dogs_on_trail.jpeg" | url }} alt="">
                        <figcaption>Clare Sarros, owner, enjoys wakling dogs whether her own or her clients'.</figcaption>
                    </figure>
                </div>
            </section>
            <section class="card text-bg-dark">
                <div class="card-body">

                    <p class="font-weight-bold">South Paws Pet Service</p>
                    <ul class="list-unstyled">
                        <li>(757) 768-6765</li>
                        <li>Clare@SouthPawsPetService.com</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</footer>
<script src="https://kit.fontawesome.com/e241e4c9e6.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
