<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="{{ 'assets/images/south_paws_pet_service_logo.png' }}" alt="South Paws Pet Service" height="88" width="132">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="/aboutus.html">About Us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/services.html">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/rates.html">Rates</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/policies.html">Policies</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/testimonials.html">Testimonials</a>
          </li>
      </ul>
        <div class="navbar-text">
            <i class="fas fa-phone-alt fa-fw"></i> <a href="tel:17577686765">(757)768-6765</a>
        </div>
    </div>
  </div>
</nav>