---
layout: 'base'
title: 'Coupons'
---
<div class="container">
    <div class="row g-3">
        <div class="offset-md-2 col-md-8">
            {% for coupon in discounts %}
                <div class="card my-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ coupon.title }}</h2>
                        <p class="card-text">{{ coupon.description }}</p>
                        <a href={{ "/coupons/" | append: coupon.code | url }}>Link</a>
                    </div>
                </div>
            {% endfor %}
        </div></div>
</div>