---
layout: base
title: South Paws Pet Service
---
<div class="p-4  my-3 bg-white text-primary text-center">
    <h1>
        All Types of Pets. Any Day You Need Us.
        <br>
        <small>
            We are here to take care of your family friend when you can't.
        </small>
    </h1>
</div>
<section class="card">
    <header class="card-header">
        <h2>We Specialize in Dog Walking</h2>
    </header>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-4 text-center">
                <img src={{ "assets/images/260_Smokey_and_Cody.jpeg" | url }} alt="" style="margin: auto">
            </div>
            <div class="col-md-8">
                <p>Dogs can't hold their bladder any more than we can, so to ease their discomfort, let us solve that
                    remedy for you by taking them on a dog walk while you are away either at work or on vacations.</p>
            </div>
        </div>
    </div>
</section>
<aside class="p-4  text-center my-4 bg-white text-info">
    <h1>We Make House Calls!</h1>
</aside>
<section class="card">
    <header class="card-header">
        <h2>Overnight or Daytime Pet Sitting in Your Home</h2>
    </header>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <p>Kenneling your animals can sometimes disrupt your vacation plans whether it is for a day or two or a
                    week or two. You shouldn't have to worry about your furry friends while you are on vacation or keep
                    you from taking that vacation.</p>
            </div>
            <div class="col-md-6">
                <p>Kenneling can get expensive for you and uncomfortable for your pets as they are more comfortable in
                    their own surroundings at home. We can take care of your pets in your own home for you while you
                    enjoy your time away.</p>
            </div>
        </div>
    </div>
</section>
<aside class="p-4 text-center my-4 bg-white text-warning">
    <h1>Try Our In-Home Pet Day Care and You'll Get 1-on-1 Interaction with Your Pets</h1>
    <p class="p-4">Animals need interaction with other people so that they don't get bored and tear the house up. We can
        help with the "separation anxiety" by giving your pets the attention they want.</p>
</aside>
<section class="card">
    <header class="card-header"><h2>Tired of Stepping in Your Pet's Waste?</h2></header>
    <div class="card-body">
        <p>Need Your Pet's Poop Scooped From Your Yard?</p>
        <p>We will even do that for you. We can clean your yard outside on a regular basis year round.</p>
    </div>
</section>
<div class="row justify-content-md-center my-4">
    <div class="col-lg-4">
        <p>
            <a href={{ "/services.html" | url }} class="btn btn-block btn-lg btn-primary text-uppercase">See All Our Services</a>
        </p>
    </div>
</div>