---
permalink: '/services.html'
layout: base
title: Dog Walking Service
---
<div class="jumbotron bg-gradient-pimary">
    <h2>South Paws Pet Services is pleased to offer our customers personalized and compassionate pet care.</h2>
    <div class="row align-items-center">
        <div class="col-md-2">
            <figure class="float-md-left">
                <img src="/assets/images/clare-holding-a-dog.jpg" alt="" class="img-fluid">
                <figcaption>Clare Sarros, owner, with a client's dog.</figcaption>
            </figure>
        </div>
        <div class="col-md-10">
            <p>As a dog owner for 26 years I understand the need of dogs and other pets for love and affections on a daily basis.  I also understand the sense of abandonment or separation anxiety that a pet can experience when left at home alone during the work day or at veterinarian kennels or boarding facilities.</p>
            <p>These facilities can also become fairly expensive and can take away from vacation plans due to the higher costs and limited availabilities to accommodate your pet(s).  It is well known that pets that get regular exercise tend to live longer and have healthier lives.  It is our goal to provide you a better option for your pet(s) health and well being, your budget, and your sound piece of mind knowing that your pet(s) are being given quality personalized care.</p>
        </div>
    </div>
</div>
<h2>Services</h2>
<div class="row align-items-center">
    <div class="col-md-8">
        <p>We provide the following services as well as basic pet care for vacation needs, daytime dog walks, and/or overnight pet and home care. We will do everything in our power to keep our clients coming back . Our goal is to love your pets as much as you do.  When you trust your home and  pets to our care, we take the responsibility very seriously.</p>
    </div>
    <div class="col-md-4">
        <figure class="text-center">
            <img src="/assets/images/happy-looking-golden-retriever.jpg" alt="">
            <figcaption>Your pet is like family.</figcaption>
        </figure>
    </div>
</div>
<p></p>
<div class="row">
    {% for service in services %}
    <div class="col-md-6 my-4">
        <div class="card">
            <div class="card-header"><h3>{{service.name}}</h3></div>
            <div class="card-body">
                <dl>
                    {% for description in service.description %}
                    <dt>{{description.title}}</dt>
                    <dd>{{description.body}}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<figure class="text-center py-5">
    <img src="/assets/images/sarros-family-with-our-two-dogs.jpg" alt="">
    <figcaption>We are a pet-loving family too.</figcaption>
</figure>
</main>